.profile {
  color: white;
  height: calc(100vh - 70px);
}
hr {
  border: 1px solid white;
  width: 70%;
}

.skills {
  display: flex;
  justify-content: space-around;
  align-items: center
}

img {
padding: 10px;
width: 70px;
height: 70px;
margin-top: 50px;
margin-bottom: 20px;
box-shadow: 3px 3px rgb(168, 160, 160);
}

